.link {
  cursor: pointer;
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  background: initial;
  text-decoration: underline;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  font-size: inherit;
  --hue: 220;
  --saturation: 100%;
  --lightness: 50%;
  color: hsl(var(--hue), var(--saturation), var(--lightness));
}

.link:hover,
.link:focus,
.link:active {
  text-decoration: none;
}

.link:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.navbar {
  padding: 1rem;
  background-color: rgb(36, 41, 46);
  color: rgba(255, 255, 255, 0.7);
}

.navbar .link {
  margin-right: 1rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar .link:hover,
.navbar .link:focus,
.navbar .link:active {
  color: inherit;
}

.navbar .link.current-page {
  color: inherit;
  outline: 1px solid #fff;
  outline-offset: 4px;
}
